[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
conllu = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
numpy = "*"
pymagnitude = "*"
pandas = "*"

[dev-packages]
sphinx = "*"
numpydoc = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
