[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
conllu = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
numpy = "*"
pygsheets = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
jupyter = "*"

[requires]
python_version = "3.7.3"
